h1 , h2{
    margin: 50px auto;
    text-align: center;
}
p{
    margin: 20px auto;
    padding: 20px;
    border: 1px solid blueviolet;
    width: 50%;
}
.text {
    line-height: 50px;
    text-indent: 50px;
    text-transform: uppercase;
    letter-spacing: 10px;
    background-color: blueviolet;
    color: white;
}
span{
    color: coral;
    font-weight: bold;
    font-size: 32px;
    text-transform: lowercase;
    text-decoration: underline;
}